@font-face {
  font-family: "Gilroy-Regular";
  src: url("/font/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("/font/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/font/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("/font/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("/font/Gilroy-Heavy.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* html{
  scroll-behavior: smooth;
} */

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-blue-clr: #1c6ff4;
}

:-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* main,
body {
  overflow: hidden;
} */

.padding-lr {
  padding-inline: 40px;
}

.position-relative {
  position: relative;
}

.fixedDiv {
  position: fixed;
  width: 100%;
  margin: 0 40px;
  left: 0;
  right: 0;
  top: 25px;
  margin: auto;
  z-index: 9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  transition: all 0.4s ease;
  border: 1px solid #e5e5e5;
  font-family: Gilroy-Semibold;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 146px;
  background-color: transparent;
  text-align: center;
  color: #353535;
  padding: 12px 0;
  cursor: pointer;
  border-radius: 4px;
}

nav button:hover {
  /* color: #fff; */
  background-color: #eaeaea;
}

nav button.contactBtn {
  color: #7B7B7B;
}

nav button.contactBtn:hover {
  color: #fff;
  background-color: #0062ff;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 100;
  display: grid;
  place-content: center;
  text-align: center;
}

.loader svg:last-child {
  margin-left: -16px;
}

.imageAndParaForMobView {
  display: none;
}

.loader svg path {
  opacity: 0;
}

.loader p,
.page1LastPart p {
  font-family: Gilroy-SemiBold;
  font-size: 38px;
  font-weight: 400;
  line-height: 47px;
  color: #353535;
  margin-top: 20px;
}

.loader p span,
.page1LastPart p span {
  color: #1c6ff4;
}

.heightFull {
  height: 100vh;
  /* width: 100%; */
}

aside {
  position: fixed;
  left: 40px;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto 0;
  border-left: 1px solid #e5e5e5;
  display: flex;
  gap: 26px;
  flex-direction: column;
  z-index: 99;
}

aside a {
  padding-left: 12px;
}

aside .active {
  position: relative;
}

aside .active::after {
  content: "";
  position: absolute;
  left: -1.4px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #0062ff;
  border-radius: 5px;
}

aside .active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #bcd5ff 0%, rgba(28, 111, 244, 0) 68.18%);
}

aside .active.whiteFill::after {
  background-color: #fff;
}

aside .active svg path {
  stroke: var(--primary-blue-clr);
}

aside .active.whiteFill svg path {
  stroke: #fff;
}

aside svg {
  cursor: pointer;
  vertical-align: middle;
}

.rotateImage {
  position: absolute;
  inset: 0;
  width: 57.5rem;
  max-width: 100%;
  height: auto;
  margin: auto;
  z-index: -1;
}

.hero_section {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 0 4.813rem 0 16.25rem;
  gap: 5.563rem;
}

.hero_section .descDiv {
  display: flex;
  justify-content: end;
  width: 100%;
}

.hero_section .descDiv p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  text-align: justify;
}

.halfCircleCss {
  border: 4px solid transparent;
  border-radius: 100%;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
  width: 575px;
  height: 575px;
  position: absolute;
  inset: 0;
  margin: auto;
  transform: rotate(-30deg);
}

.HeroImage,
.HeroImagetwo {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
}

.HeroImagetwo {
  opacity: 0;
}

.scrollToExplore {
  position: fixed;
  bottom: 30px;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.scrollToExplore p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: center;
  font-family: Gilroy-Regular;
  color: #000000;
}

.developerTabcontent,
.occupierTabcontent,
.investorTabcontent {
  max-height: 250px;
  height: 100%;
}

.heroImageTwoDiv span {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.86px;
  font-family: Gilroy-Heavy;
  word-break: break-all;
  opacity: 0;
  position: absolute;
  text-align: center;
}

.scrollToExplore .mouseWithScroll {
  position: relative;
}

.scrollToExplore .mouseWithScroll::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  width: 5px;
  /* height: 30%; */
  margin: auto;
  border-radius: 4px;
  background-color: #0062ff;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
  animation: heightAnimation 2s infinite;
}

@keyframes heightAnimation {
  0% {
    height: 30%;
  }

  50% {
    height: 45%;
  }

  100% {
    height: 30%;
  }
}

.page1LastPart {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9;
  display: grid;
  place-content: center;
  text-align: center;
  /* display: none; */
}

main {
  overflow: hidden;
}

.work_section {
  display: grid;
  place-content: center;
}

/* .whatWeDoSection {
  display: grid;
  place-content: center;
} */

.whatWeDoSection h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 49.52px;
  text-align: center;
  font-family: Gilroy-Semibold;
  margin-bottom: 1.25rem;
  color: #353535;
}

.whatWeDoSection p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
  text-align: center;
  font-family: Gilroy-Semibold;
  color: #353535;
}

.work_section .bigCircle {
  width: 30.438rem;
  height: 30.438rem;
  position: absolute;
  inset: 0;
  background: linear-gradient(147.84deg, #fefefe 10.67%, #e8e8e8 86.79%);
  border-radius: 100%;
  margin: auto;
  z-index: -1;
}

.work_section .bigCircle::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 9.375rem;
  height: 9.375rem;
  background: linear-gradient(192.74deg,
      rgba(255, 255, 255, 0.7) 9.58%,
      rgba(224, 224, 224, 0.7) 78.5%);
  border-radius: 100%;
}

.work_section .bigCircle::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 5.625rem;
  height: 5.625rem;
  background: linear-gradient(192.74deg,
      rgba(255, 255, 255, 0.7) 9.58%,
      rgba(224, 224, 224, 0.7) 78.5%);
  border-radius: 100%;
}

/* .bigCircleShadow{
  height: 34px;
  width: 30.438rem;
  border-radius: 100%;
  background: #E1E1E199;
} */

.orbit,
.orbit.small {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 0;
}

.orbit.small {
  right: 0;
  bottom: -100px;
  top: unset;
  left: 0;
  margin: auto;
}

.orbit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--primary-blue-clr);
  border-radius: 100%;
}

.orbit.small::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--primary-blue-clr);
  border-radius: 100%;
}

#goToSlider {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#goToSlider svg {
  font-size: 30px;
  color: #cecece;
}

/* main .panel {
  opacity: 0 !important;
  visibility: hidden;
}

main .panel.active {
  opacity: 1 !important;
  visibility: visible;
} */

.whatWeDoSectionTwo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  inset: 0;
  margin: auto;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  /* transform: translateX(2000px); */
}

.whatWeDoSectionTwoMain,
.whatWeDoSectionTwoInner {
  max-width: 900px;
  margin: auto;
}

.whatWeDOSlider {
  text-align: center;
  position: absolute;
  inset: 0;
  top: 20% !important;
  width: 50%;
  height: 100%;
  margin: auto;
}

.whatWeDOSlider img {
  max-height: 400px;
  height: 100%;
}

.whatWeDOSlider h3 {
  font-family: Gilroy-Semibold;
  font-size: 36px;
  font-weight: 400;
  line-height: 44.57px;
  margin: 22px 0 12px;
}

.whatWeDOSlider p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
  color: #353535;
}

.whatWeDoSectionTwoMain button.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: min-content;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.whatWeDoSectionTwoMain button.nav.prev {
  left: 25%;
}

.whatWeDoSectionTwoMain button.nav.next {
  right: 25%;
}

.whatWeDoSectionTwoMain button.nav svg {
  font-size: 30px;
}

.reports_section {
  background: linear-gradient(74.28deg,
      #101010 0%,
      #353535 46.05%,
      #101010 100%);
  overflow: hidden;
}

.reports_section,
.ourServiceSection {
  padding: 0 7.5rem;
}

.reportsSectionMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.reportsSectionL {
  text-align: center;
}

.reportsSectionR h2 {
  font-family: Gilroy-SemiBold;
  font-size: 34px;
  font-weight: 400;
  line-height: 41.65px;
  color: #fff;
}

.reportsSectionR p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  text-align: justify;
  color: #ffffff;
  margin: 16px 0 40px;
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btnGroup button,
.btnGroup a {
  font-family: Gilroy-SemiBold;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.7px;
  padding: 12px 22px;
  color: #000000;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.btnGroup .withNoBg {
  background-color: transparent;
  color: #fff;
  transition: 0.4s all ease;
  border: 1px solid transparent;
}

.btnGroup .withNoBg:hover {
  border: 1px solid #fff;
}

.navDots {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 60px;
}

.navDots li {
  background-color: #161616;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.navDots li.active {
  background: #ffffff;
  width: 25px;
  height: 25px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
}

.reportsSectionR .reportsSectionRInner,
.reportsSectionL img {
  opacity: 0;
  scale: 0;
  height: 0;
}

.reportsSectionL img.active,
.reportsSectionR .reportsSectionRInner.active {
  opacity: 1;
  scale: 1;
  height: 100%;
}

.ourServiceL button {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: Gilroy-Light;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #868686;
  padding: 0 30px;
  border-left: 1px solid #85949e;
  cursor: pointer;
}

.ourServiceL button.active {
  color: #1c6ff4;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
}

.ourServiceL button:first-child {
  padding-left: 0;
  border-left: none;
}

.ourServiceMain {
  display: grid;
  grid-template-columns: 1fr 372px;
  gap: 7.5rem;
  padding: 9.375rem 80px;
}

.ourServiceL {
  position: relative;
}

/* .ourServiceL::after {
  content: "";
  position: absolute;
  right: -63px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
} */

.serviceContentMain {
  display: flex;
}

.serviceContent {
  opacity: 0;
  width: 0;
  height: min-content;
}

.serviceContent.active {
  opacity: 1;
  width: 100%;
}

.serviceContent h2 {
  font-family: Gilroy-SemiBold;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
  color: #000;
  margin: 26px 0 12px;
}

.serviceContent p {
  font-family: Gilroy-light;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: justify;
  color: #777777;
}

.ourServiceR h4 {
  font-family: Gilroy-Semibold;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
  /* margin-bottom: 30px; */
}

form input,
form select,
form textarea {
  font-family: Gilroy-light;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: #000;
  padding: 8px 0 8px 15px;
  outline: none;
  border: 1px solid #e5e5e5;
  width: -webkit-fill-available;
  max-width: 100%;
}

form textarea {
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  resize: none;
  height: 80px;
}

.formInner {
  display: flex;
  flex-direction: column;
}

.formInner .check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.formInner .check input {
  width: fit-content;
  margin: 0;
}

.formInner .check label {
  font-family: Gilroy-light;
  font-size: 10px;
  font-weight: 300;
  line-height: 11px;
  text-align: justify;
  color: #909090;
}

.downloadModal .ourServiceR button {
  margin-top: 15px;
  text-transform: uppercase;
}

.downloadModal .ourServiceR button,
.formInner button {
  background: #1c6ff4;
  padding: 14px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: Gilroy-light;
  font-size: 12px;
  font-weight: 600;
  line-height: 13.2px;
  letter-spacing: 0.47em;
  text-align: center;
}

.downloadModal .formInner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: transparent;
}

.boxShadowCircle {
  background: radial-gradient(50% 50% at 50% 50%,
      #1c6ff4 -230%,
      rgba(28, 111, 244, 0) 100%);
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

.ourTeamSection {}

.ourTeamText {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

.ourTeamSlider {
  display: grid;
  place-content: center;
  height: 100%;
}

.ourTeamSliderInner img {
  max-width: 472px;
  margin: auto;
  z-index: 9;
  position: relative;
}

.ourTeamSliderInner h2 {
  font-family: Gilroy-SemiBold;
  font-size: 34px;
  font-weight: 400;
  line-height: 41.65px;
  text-align: center;
  margin: 3px 0;
  color: #000000;
}

.ourTeamSliderInner p {
  font-family: Gilroy-Light;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: #000000;
}

.team {
  position: absolute;
  bottom: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.team svg {
  font-size: 30px;
}

.team svg path {
  fill: #525252;
}

.team.prev-team {
  left: 30%;
}

.team.next-team {
  right: 30%;
}

.reactUsSection {
  padding: 0 80px;
}

.officeDetailsInner span {
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
  text-align: left;
  color: #acacac;
}

.officeDetailsInner p,
.officeDetailsInner a {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: justify;
  color: #353535;
  margin-top: 5px;
  text-decoration: none;
}

.officeDetailsInner p strong {
  color: #1c6ff4;
}

.officeDetailsInner.myaxis {
  margin: 25px 0;
}

.logoWIthSearchDropdown {
  display: flex;
  gap: 20px;
}

.searchDropdownMain {
  border-radius: 20px;
  background: #f5f5f5;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s;
  width: 176px;
}

.searchDropdownMain.borderReaiusClass {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 781px;
  width: 600px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 20px 0px #0000001a;
  border-bottom: none;
}

.searchDropdownInputWithIcon input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 12px 30px 12px 45px;
  width: 100%;
}

.searchDropdownInputWithIcon svg {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 25px;
}

.searchDropdownInputWithIcon input::placeholder {
  font-family: Gilroy-Light;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #69757d;
}

.searchDropdownContent {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-top: none;
  background: #f5f5f5b2;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
  backdrop-filter: blur(10px);
}

.searchDropdownContent.show {
  height: 500px;
  display: block;
  opacity: 1;
}

.searchDropdownContent .w3-bar.w3-black {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 0;
}

.searchDropdownContent button {
  font-family: Gilroy-Light;
  font-size: 14px;
  background-color: #fff;
  font-weight: 400;
  line-height: 16.8px;
  color: #868686;
  text-align: center;
  border: none;
  width: 100%;
}

.searchDropdownContent button.active {
  background-color: #1c6ff4;
  color: #fff;
  border-radius: 6px;
}

.searchDropdownTabContent {
  padding: 0 20px 20px;
}

.searchDropdownTabContent ul li {
  font-family: Gilroy-Light;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  margin-top: 22px;
  color: #353535;
  transition: 0.5s all;
  cursor: pointer;
}

.searchDropdownTabContent ul li:hover {
  color: #0062ff;
}

.viewReportsSection {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 0.7s all ease;
}

.viewReportsSectionMain {
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.viewReportsSectionL {
  background: linear-gradient(74.28deg,
      #101010 0%,
      #353535 46.05%,
      #101010 100%);
  display: grid;
  place-content: center;
  padding-left: 60px;
}

.viewReportsSectionL ul {
  display: grid;
  gap: 50px;
}

.viewReportsSectionL ul li {
  font-family: Gilroy-Light;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  /* transition: 0.7s all; */
}

.viewReportsSectionL ul li.active {
  position: relative;
  font-family: Gilroy-SemiBold;
  /* font-size: 18px;
  font-weight: 400; */
  /* transition: 0.7s all; */
  /* line-height: 22.05px; */
}

.errmsg {
  font-family: Gilroy-Regular;
  font-size: 12px;
  position: absolute;
  left: 0;
  color: red;
  bottom: -18px;
  font-weight: 500;
}

.thankYouContainer {
  padding: 40px;
  text-align: center;
  background: #f5f5f5;
  border-radius: 4px;
  transform: rotateY(180deg);
  opacity: 0;
  display: none;
}

.thankYouContainer h4 {
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #000000;
}

.thankYouContainer img {
  margin: 8px 0;
}

.viewReportsSectionL ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: #fff;
}

.viewReportsSectionR {
  padding: 120px 90px;
}

.viewReportsSectionRMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.viewReportsSectionRInner {
  cursor: pointer;
}

.viewReportsSectionRInner img {
  max-width: 100%;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  background-color: #d4d4d4;
}

.viewReportsSectionR svg {
  position: absolute;
  left: 50px;
  top: 125px;
  cursor: pointer;
}

.ourServiceSection {
  height: 130vh;
}

/* .viewReportsSection{
  opacity: 0;
  visibility: hidden;
  height: 0;
} */

/* Modal css */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #ffffffb2;
  backdrop-filter: blur(5px);
}

/* Modal Content */
.modal-content {
  background: #ffffffb2;
  margin: auto;
  padding: 20px;
  /* width: 80%; */
  max-width: 372px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.circle {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background: #2f2f2f;
  position: absolute;
}

.circle:nth-child(1) {
  left: 200px;
  top: 50px;
}

.circle:nth-child(2) {
  width: 49px;
  height: 49px;
  background: #1c6ff4;
  bottom: 200px;
  left: 550px;
}

.circle:nth-child(3) {
  width: 23px;
  height: 23px;
  background: #1c6ff4;
  right: 100px;
  top: 100px;
}

.circle:nth-child(4) {
  width: 11px;
  height: 11px;
  background: #2f2f2f;
  bottom: 100px;
  left: 50px;
}

.socialIcons {
  margin-top: 3.125rem;
  display: flex;
  gap: 10px;
}

.socialIcons a {
  text-decoration: none;
}

.socialIcons svg {
  cursor: pointer;
}

.socialIcons svg path {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.socialIcons svg:hover path {
  fill: #1c6ff4;
}

.formInner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  margin-top: 20px;
}

.formInner label {
  font-size: 12px;
  color: #a3a3a3;
  margin-bottom: 5px;
  display: inline-block;
  font-family: Gilroy-Regular;
}

.formInner label span {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 50px;
}

.pagination li {
  width: 9px;
  height: 9px;
  background: #e5e5e5;
  border-radius: 100%;
  cursor: pointer;
}

.pagination li.active {
  width: 15px;
  height: 15px;
  background: #1c6ff4;
}

.viewReportsModalTwo {
  position: absolute;
  inset: 0;
  padding: 120px 90px;
  opacity: 0;
  visibility: hidden;
  display: none;
  background-color: #fff;
  z-index: 10;
}

.viewReportsSectionRModal {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
}

.viewReportsSectionRModalL img {
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.viewReportsSectionRModalL span {
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  display: inline-block;
  background: #c7e4ff;
  padding: 7px 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.viewReportsSectionRModalR p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  text-align: justify;
  color: #353535;
}

.viewReportsSectionRModalL h2 {
  font-family: Gilroy-Semibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 14px 0 2px;
}

.viewReportsSectionRModalL h3 {
  font-family: Gilroy-Light;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.viewReportsSectionRModalL button {
  background: #1c6ff4;
  border-radius: 5px;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
  text-align: center;
  padding: 12px 25px;
  outline: none;
  border: none;
  margin-top: 45px;
  color: #fff;
  cursor: pointer;
}

.errBox {
  width: 372px;
  background: #ff0000a6;
  padding: 20px;
  color: #fff;
  border-radius: 7px;
  position: absolute;
  inset: 0;
  margin: auto;
  height: fit-content;
  box-shadow: 0 0 12px #999;
  z-index: 100;
  display: none;
}

.downloadModal {
  position: fixed;
  inset: 0;
  margin: auto;
  display: grid;
  place-content: center;
  background: #0000008c;
  z-index: 99;
  display: none;
}

.downloadModal .ourServiceR {
  background-color: #fff;
  padding: 20px 15px;
}

img.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: fit-content;
}

img.layer.layer2 {
  right: 0;
}

.serviceContentLists {
  padding: 30px 20px;
  background: #f4f8ff;
  margin-top: 40px;
}

.serviceContentLists h4 {
  font-family: Gilroy-SemiBold;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: justify;
  color: #000000;
  margin-bottom: 12px;
}

.serviceContentLists ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 16px;
}

.serviceContentLists ul li {
  font-family: Gilroy-Light;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.48px;
  text-align: justify;
  color: #1c6ff4;
  /* list-style: disc; */
  cursor: pointer;
}

.serviceContentLists ul li.active {
  font-weight: 600;
}

.developerTabcontent,
.occupierTabcontent,
.investorTabcontent {
  display: none;
}

.investorTabcontent.active,
.occupierTabcontent.active,
.developerTabcontent.active {
  display: block;
}

.whatWeDoSectionTwo {
  max-width: 88%;
}

.work_section .glide div[data-glide-el="controls"] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: auto;
  height: fit-content;
}

.work_section button.slider__arrow.glide__arrow {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.work_section button.slider__arrow.glide__arrow svg {
  font-size: 20px;
}

/* .glide__slides {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s all;
} */

.work_section .glide__slides .glide__slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transition: 0.6s all ease-in-out;
  scale: 0.7;
  filter: blur(5px);
}

.work_section .glide__slide.glide__slide--active {
  scale: 0.9;
  filter: blur(0);
}

.work_section .glide__slides img {
  scale: 0.6;
  transition: 0.6s all ease-in-out;
}

.work_section li.glide__slide.glide__slide--active img {
  scale: 1;
  max-height: 400px;
}

.work_section li.glide__slide.glide__slide--active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_section .glide__slides h3,
.work_section .glide__slides p {
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.work_section li.glide__slide.glide__slide--active h3 {
  font-family: Gilroy-Semibold;
  font-size: 26px;
  font-weight: 400;
  line-height: 44.57px;
  margin: 22px 0 12px;
  opacity: 1;
  visibility: visible;
}

.work_section li.glide__slide.glide__slide--active p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.15px;
  color: #353535;
  opacity: 1;
  visibility: visible;
}

/* .glide__slide:not(.glide__slide--active):not(:first-child) {
  background-color: blue;
} */